/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET END */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Microsoft JhengHei, Helvetica;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrap .skill .layout, .wrap .skill .js, .wrap .skill .dev-helper {
  float: left;
  background-color: #fff;
  width: 31%;
  border-radius: 15.475px;
  border: 1px solid #eaeaea;
}

.wrap .skill .layout .shadow, .wrap .skill .js .shadow, .wrap .skill .dev-helper .shadow {
  height: 10px;
  width: 284.44px;
  border-bottom-left-radius: 15.475px;
  border-bottom-right-radius: 15.475px;
}

.wrap .experience .timeline .direction-r, .wrap .experience .timeline .direction-l {
  position: relative;
  display: inline-block;
  text-align: center;
}

.wrap .experience .timeline .direction-r .company-name, .wrap .experience .timeline .direction-l .company-name {
  position: relative;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.wrap .experience .timeline .direction-r .point, .wrap .experience .timeline .direction-l .point {
  position: absolute;
  top: 50%;
  content: " ";
  display: block;
  width: 24px;
  height: 28px;
  margin-top: -10px;
  z-index: 10;
  background-image: url("../images/dot-timeItem.png");
  background-repeat: no-repeat;
}

.wrap .experience .timeline .direction-r .time-wrapper, .wrap .experience .timeline .direction-l .time-wrapper {
  line-height: 1em;
  font-size: 0.66666em;
  color: #fa5050;
}

.wrap {
  margin: 0 auto;
  width: 1024px;
  background-color: #fafafa;
}

.wrap .header {
  background-image: url("../images/img-headerShape.png");
  background-repeat: no-repeat;
}

.wrap .header .profile {
  float: left;
  padding: 125px 0px 0px 130px;
}

.wrap .header .profile > div {
  width: 151px;
  height: 151px;
  background-image: url("../images/profile-picture.jpg");
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 99px;
  margin-bottom: 20px;
}

.wrap .header .profile > h1 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
}

.wrap .header .profile > p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
  color: #4a4a4a;
}

.wrap .header .info {
  float: right;
  padding: 125px 365px 0px 0px;
}

.wrap .header .info > li {
  color: #fff;
  margin-bottom: 25px;
}

.wrap .header .info > li > img {
  vertical-align: middle;
  margin-right: 15px;
}

.wrap .header .info > li > span {
  vertical-align: middle;
}

.wrap .skill {
  margin-top: 75px;
  padding: 50px;
}

.wrap .skill > h2 {
  text-align: center;
  font-weight: bold;
  color: #1736dc;
  font-size: 25px;
  margin-bottom: 50px;
}

.wrap .skill .layout {
  margin-right: 20px;
}

.wrap .skill .layout .shadow {
  background: #f58d23;
}

.wrap .skill .layout img {
  padding: 30px 97.22px 28px 97.22px;
}

.wrap .skill .js {
  margin-right: 20px;
}

.wrap .skill .js .shadow {
  background: #539e43;
}

.wrap .skill .js img {
  padding: 30px 99.22px 25px 99.22px;
}

.wrap .skill .dev-helper .shadow {
  background: #6762a6;
}

.wrap .skill .dev-helper img {
  padding: 30px 98.22px 33px 98.22px;
}

.wrap .skill h3 {
  text-align: center;
  color: #4a4a4a;
  font-size: 20px;
  margin-bottom: 30px;
}

.wrap .skill > ul > li > ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 40px;
}

.wrap .skill > ul > li > ul > li {
  padding: 0px 45px;
  line-height: 1.5;
  font-size: 12px;
  margin-left: 20px;
  text-indent: -20px;
  color: #444444;
}

.wrap .experience {
  margin-top: 20px;
  position: relative;
}

.wrap .experience > h2 {
  text-align: center;
  font-weight: bold;
  color: #1736dc;
  font-size: 25px;
  margin-bottom: 80px;
}

.wrap .experience h3 {
  font-weight: bold;
  color: #8a1837;
  padding: 5px 0px;
}

.wrap .experience .timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.wrap .experience .timeline > li {
  padding: 1em 0;
}

.wrap .experience .timeline > li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.wrap .experience .timeline .direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.wrap .experience .timeline .direction-r .point {
  left: -42px;
}

.wrap .experience .timeline .direction-r .time {
  margin: 5px 0px;
  background: #f8f8f8;
  text-align: left;
}

.wrap .experience .timeline .direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.wrap .experience .timeline .direction-l .point {
  right: -42px;
}

.wrap .experience .timeline .direction-l .time {
  margin: 5px 0px;
  background: #f8f8f8;
  text-align: right;
}

.wrap .experience .timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #d8d8d8;
  z-index: 5;
}

.wrap .experience .desc {
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.wrap .experience .top-point {
  position: absolute;
  background-image: url("../images/dot-start.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 314.5px;
  top: -2%;
  z-index: 7;
}

.wrap .experience .bot-line {
  position: absolute;
  background-color: #d8d8d8;
  width: 58px;
  height: 5px;
  left: 301px;
  bottom: -1.1%;
  z-index: 7;
  border-radius: 10px;
}

.wrap .works {
  padding: 0px 58px;
}

.wrap .works h2 {
  text-align: center;
  font-weight: bold;
  color: #fb56bf;
  font-size: 25px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.wrap .works li {
  float: left;
  border-radius: 15.475px;
  border: 1px solid #eaeaea;
}

.wrap .works a {
  display: block;
}

.wrap .works .project-homework {
  margin-right: 20px;
}

.wrap .works .project-homework img {
  padding: 40px 0px 0px 80px;
  background-color: #fdb4e3;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.wrap .works .project-BMI {
  margin-right: 20px;
}

.wrap .works .project-BMI img {
  padding: 37px 103.5px;
  background-color: #424242;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.wrap .works .project-JS img {
  padding: 37px 103.5px;
  background-color: #8ad7fa;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.wrap .works div {
  padding: 12px;
}

.wrap .works h3 {
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.wrap .works p {
  color: #4a4a4a;
}

.wrap .works a:hover {
  -webkit-box-shadow: 0 0 15px #d6d6d6;
          box-shadow: 0 0 15px #d6d6d6;
  border-radius: 10px;
}

.wrap .about {
  height: 500px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.wrap .about h2 {
  text-align: center;
  font-weight: bold;
  color: #fb56bf;
  font-size: 25px;
  margin-bottom: 60px;
}

.wrap .about .photo {
  background-image: url("../images/aboutme.jpg");
  width: 280px;
  height: 373px;
  float: left;
  margin-left: 155px;
}

.wrap .about .aboutme {
  float: right;
  width: 440px;
  line-height: 1.5;
  margin-right: 100px;
}

.wrap .about p {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: justify;
  text-justify: inter-ideograph;
}

.wrap .footer {
  background-image: url("../images/img-Looper-bg.png");
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 16px;
  height: 87px;
  line-height: 87px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */